<?php
$setting = Mage::helper('sneakersettings');
//echo $this->getSkinUrl('css/theme.css.php').'?'.http_build_query($setting->getAllCssConfig(), '', '&amp;'); 
//exit;
?>
<link rel="stylesheet" id="emcssvariation" type="text/css" media="all" href="<?php echo $this->getSkinUrl('css/theme.css.php').'?'.http_build_query($setting->getAllCssConfig(), '', '&amp;'); ?>"/>

<!--[if lt IE 9]>
<script type="text/javascript">
(function() {
	var el = document.getElementById('emcssvariation');
	el.parentNode.removeChild(el);
})();
</script>
<link rel="stylesheet" id="emcssvariation" type="text/css" media="all" href="<?php echo $this->getSkinUrl('css/theme.css.php').'?ie=1&'.http_build_query($setting->getAllCssConfig(), '', '&amp;'); ?>"/>
<![endif]-->

<?php if ($setting->getTypography_GoogleFonts()): ?>
<?php 
	$fontArray = explode(',',$setting->getTypography_GoogleFonts());
	$fontIncArray = array();
	
	if ($fontWeights = str_replace(' ','', $setting->getTypography_GoogleFontsWeights()))
		$fontWeights = ':'.$fontWeights;
	else 
		$fontWeights = ':200,200italic,300,300italic,400,400italic,500,500italic,600italic,600italic,700,700italic,800,800italic,900,900italic';
	foreach($fontArray as $font){
		echo  "<link href='http://fonts.googleapis.com/css?family=".str_replace(' ','+',$font)."$fontWeights&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext' rel='stylesheet' type='text/css'>";
	}
?>
<?php endif ?>

<style type="text/css">
<?php echo $setting->getTypography_CustomCss(); ?>
</style>

<script type="text/javascript">
//<![CDATA[
var urlSkinsite = '<?php echo $this->getSKinUrl(); ?>';
LightboxOptions = Object.extend({
    fileLoadingImage:        urlSkinsite+'images/loading.gif',     
    fileBottomNavCloseImage: urlSkinsite+'images/closelabel.png',

    overlayOpacity: 0.8,   // controls transparency of shadow overlay

    animate: true,         // toggles resizing animations
    resizeSpeed: 7,        // controls the speed of the image resizing animations (1=slowest and 10=fastest)

    borderSize: 10,         //if you adjust the padding in the CSS, you will need to update this variable

	// When grouping images this is used to write: Image # of #.
	// Change it for non-english localization
	labelImage: "Image",
	labelOf: "of"
}, window.LightboxOptions || {});
//]]>
</script>