<?php
    /* get config from themesetting */
    $setting = Mage::helper('sneakersettings');
    $fonts = Mage::getModel('sneakersettings/config_font')->toOptionArray();
    $boxwide = Mage::getModel('sneakersettings/config_boxwide')->toOptionArray();
    $tmf = $setting->getMenu_TmFont();
    $h5f = $setting->getTypography_H5Font();
    if($tmf==""){
        $tmf=$h5f;
    }
    $dmf = $setting->getMenu_DmFont();
    $gf = $setting->getTypography_GeneralFont();
    if($dmf =""){
        $dmf=$gf;
    }
    $ischecked = $setting->getGeneral_WideslideFull();    
    $boxwide_selected =  explode(',', $setting->getGeneral_BoxWide());
?>
<a href="javascript:void(0)" class="btn-toggle hide-lte0">+ open/close</a>
<div id="demotool_variation" class="hide-lte0">
	<div class="variation-cp" style="display:none">
		<div class="demotool-title">Magento Theme Variations</div>
		<form method="GET" name="emvariationform" id="emvariationform" action="<?php echo $this->getSkinUrl('css/theme.css.php') ?>">
		<div class="demotool-content">
            <!-- Google Fonts -->
			<div class="demo demo-02">
				<div class="content-title"><span>Google Fonts</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
							<div class="col">
								<div class="row">
									<div class="label">Import these google fonts</div>
									<div class="input">
										<select id="em_variation_google_font" multiple="true" rows="10" size="10">
											<?php $selectedFonts = explode(',', $setting->getTypography_GoogleFonts()) ?>
											<?php foreach ($fonts as $_font): ?>
											<option value="<?php echo htmlspecialchars($_font['value']) ?>" <?php echo @in_array($_font['value'], $selectedFonts) ? 'selected="selected"' : '' ?>><?php echo $_font['label'] ?></option>
											<?php endforeach ?>
										</select>
									</div>
									<div class="desc">Select which google fonts should be imported to your site</div>
								</div>
							</div>
						</div>
					</div>
				</div>					
			</div>
			
			<!-- Element Fonts -->
			<div class="demo demo-03">
				<div class="content-title"><span>Element Fonts</span></div>
				
				<div class="wrapper-content">
					<div class="box last">
						<div class="content">
							<div class="col">
								<div class="row">
									<div class="label">General Font</div>
									<div class="input"><input type="text" name="general_font" value="<?php echo htmlspecialchars($setting->getTypography_GeneralFont()) ?>" class="input-text"/></div>
									<div class="desc">Font for body, content, text...<br/>E.g. <em>normal 12px/1.35 Arial,Helvetica,sans-serif</em></div>
								</div>
                                <input type="hidden" name="google_fonts_weights" value="<?php echo htmlspecialchars($setting->getTypography_GoogleFontWeights()) ?>" class="input-text"/>
								<div class="row">
									<div class="label">H1</div>
									<div class="input"><input type="text" name="h1_font" value="<?php echo htmlspecialchars($setting->getTypography_H1Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>normal 24px/1.15 Arial,Helvetica,sans-serif</em></div>
								</div>
								<div class="row">
									<div class="label">H2</div>
									<div class="input"><input type="text" name="h2_font" value="<?php echo htmlspecialchars($setting->getTypography_H2Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>normal 20px/1.25 Arial,Helvetica,sans-serif</em></div>
								</div>
								<div class="row">
									<div class="label">H3</div>
									<div class="input"><input type="text" name="h3_font" value="<?php echo htmlspecialchars($setting->getTypography_H3Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>normal 18px/1.25 Arial,Helvetica,sans-serif</em></div>
								</div>
								<div class="row">
									<div class="label">H4</div>
									<div class="input"><input type="text" name="h4_font" value="<?php echo htmlspecialchars($setting->getTypography_H4Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>normal 16px/1.35 Arial,Helvetica,sans-serif</em></div>
								</div>
								<div class="row">
									<div class="label">H5</div>
									<div class="input"><input type="text" name="h5_font" value="<?php echo htmlspecialchars($setting->getTypography_H5Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>normal 14px/1.35 Arial,Helvetica,sans-serif</em></div>
								</div>
                                <div class="row">
									<div class="label">H6</div>
									<div class="input"><input type="text" name="h6_font" value="<?php echo htmlspecialchars($setting->getTypography_H6Font()) ?>" class="input-text" /></div>
									<div class="desc">E.g. <em>normal 12px/1.35 Arial,Helvetica,sans-serif</em></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
            
            <!-- General -->
			<div class="demo demo-02">
				<div class="content-title"><span>Choose Your Layout Style</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
							<div class="col">
								<div class="row">
									<div class="label">Box/Wide Mode</div>
									<div class="input">
                                        <select id="em_box_wide" name="em_box_wide" class="em_box_wide select">
                                            <?php $selectedBoxWide = explode(',', $setting->getGeneral_BoxWide()) ?>
                                            <?php foreach ($boxwide as $boxwide_item): ?>
											     <option value="<?php echo htmlspecialchars($boxwide_item['value']) ?>" <?php echo @in_array($boxwide_item['value'], $selectedBoxWide) ? 'selected="selected"' : '' ?>><?php echo $boxwide_item['label'] ?></option>
											<?php endforeach ?>
                                        </select>
									</div>
									<div class="desc">Default: Wide</div>
								</div>
                                <div class="row" id="emoption_wideslideshow">
                                    <div class="input">
                                        <input  id="wide_full" class="full_slideshow" type="checkbox" name="wide_full" value="wide_full" <?php if($ischecked!=0):?>checked<?php endif;?> /><span>Full Slideshow</span>
                                    </div>
                                </div>
                                <div id="page_boxconfig">
                                    <div class="row">
    									<div class="label">Page Background Color</div>
    									<div class="input"><input type="text" name="page_bg_color" value="<?php echo htmlspecialchars($setting->getGeneral_PageBgColor()) ?>" class="color-picker" /></div>
    									<div class="desc">Default #ffffff</div>
    								</div>
                                    
                                    <div class="row">
    									<div class="label">Page Background Pattern</div>
    									<div class="input">
    										<input type="hidden" name="page_bg_image" value="<?php echo htmlspecialchars($setting->getGeneral_PageBgImage()) ?>"  />
    										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galasneaker/images/stripes/'; ?>
    										<?php foreach (Mage::getModel('sneakersettings/config_stripes')->toOptionArray() as $row):?>
    										<a href="#" class="page_bg_image" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getGeneral_PageBgImage() == $row['value'] ? 'selected="selected"' : '' ?>>
    											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
    										</a>
    										<?php endforeach ?>
    									</div>
    									<div class="desc">Specify background pattern image.</div>
    								</div>
                                    <div class="row">
    									<div class="label">Page Background Position</div>
    									<div class="input"><input type="text" name="page_bg_position" value="<?php echo htmlspecialchars($setting->getGeneral_PageBgPosition()) ?>" class="input-text"/></div>
    									<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
    								</div>
                                    <div class="row">
    									<div class="label">Page Background Repeat</div>
    									<div class="input"><input type="text" name="page_bg_repeat" value="<?php echo htmlspecialchars($setting->getGeneral_PageBgRepeat()) ?>" class="input-text"/></div>
    									<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: repeat</div>
    								</div>
                                </div>
							</div>
						</div>
					</div>
				</div>					
			</div>
            
			<!-- Header -->
			<div class="demo demo-01">
				<div class="content-title"><span>Header</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">                              
									<div class="label">Header Background Color</div>
									<div class="input"><input type="text" name="head_bg_color" value="<?php echo htmlspecialchars($setting->getHeader_HeadBgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in header.<br/>Default: #0a0a0a</div>
								</div>
                            </div>
                            
                            <div class="col col-1"> 
                                <div class="row">
									<div class="label">Header Text Color</div>
									<div class="input"><input type="text" name="head_text_color" value="<?php echo htmlspecialchars($setting->getHeader_HeadTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in header.<br/>Default: #c8c8c8</div>
								</div>
                            </div>
                            
                            <div class="col">
								<div class="row">
									<div class="label">Header Background Pattern</div>
									<div class="input">
										<input type="hidden" name="head_bg_image" value="<?php echo htmlspecialchars($setting->getHeader_HeadBgImage()) ?>"  />
										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galasneaker/images/stripes/'; ?>
										<?php foreach (Mage::getModel('sneakersettings/config_stripes')->toOptionArray() as $row):?>
										<a href="#" class="head_bg_image" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getHeader_HeadBgImage() == $row['value'] ? 'selected="selected"' : '' ?>>
											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
										</a>
										<?php endforeach ?>
									</div>
									<div class="desc">Specify background pattern image.</div>
								</div>
                                <div class="row">
									<div class="label">Header Background Position</div>
									<div class="input"><input type="text" name="head_bg_position" value="<?php echo htmlspecialchars($setting->getHeader_HeadBgPosition()) ?>" class="input-text"/></div>
									<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br/>Default: 0 0</div>
								</div>
                                <div class="row">
									<div class="label">Header Background Repeat</div>
									<div class="input"><input type="text" name="head_bg_repeat" value="<?php echo htmlspecialchars($setting->getHeader_HeadBgRepeat()) ?>" class="input-text"/></div>
									<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br /> Default: repeat</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Top Menu -->
			<div class="demo demo-01">
				<div class="content-title"><span>Top Menu</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Top Menu Background Color</div>
									<div class="input"><input type="text" name="tm_bg_color" value="<?php echo htmlspecialchars($setting->getMenu_TmBgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #dcdcdc</div>
								</div>                   
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Top Menu Text Color</div>
									<div class="input"><input type="text" name="tm_text_color" value="<?php echo htmlspecialchars($setting->getMenu_TmTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #0a0a0a</div>
								</div>
                            </div>
                                                        
                            <div class="col">                                
                                <div class="row">
									<div class="label">Top Menu Font</div>
									<div class="input"><input type="text" name="tm_font" value="<?php echo htmlspecialchars($tmf) ?>" class="input-text"/></div>
									<div class="desc">Default: normal 14px/1.35 Arial,Helvetica,sans-serif</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Dropdown Menu -->
			<div class="demo demo-01">
				<div class="content-title"><span>Dropdown Menu</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Dropdown Menu Background Color</div>
									<div class="input"><input type="text" name="dm_bg_color" value="<?php echo htmlspecialchars($setting->getMenu_DmBgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Dropdown Menu Text 2 Color</div>
									<div class="input"><input type="text" name="dm_text2_color" value="<?php echo htmlspecialchars($setting->getMenu_DmText2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in text title.<br/>Default: #141414 </div>
								</div>
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Dropdown Menu Text Color</div>
									<div class="input"><input type="text" name="dm_text_color" value="<?php echo htmlspecialchars($setting->getMenu_DmTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in text links.<br/>Default: #aaaaaa</div>
								</div>                               
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Dropdown Menu Hover Text Color</div>
									<div class="input"><input type="text" name="dm_hover_text_color" value="<?php echo htmlspecialchars($setting->getMenu_DmHoverTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in hover text.<br/>Default: #c30005</div>
								</div>
                            </div>
                            
                            <div class="col">                                
                                <div class="row">
									<div class="label">Dropdown Menu Font</div>
									<div class="input"><input type="text" name="dm_font" value="<?php echo htmlspecialchars($dmf) ?>" class="input-text"/></div>
									<div class="desc">Default: normal 12px/1.35 Arial,Helvetica,sans-serif</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Body -->
			<div class="demo demo-01">
				<div class="content-title"><span>Body</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Body Background Color</div>
									<div class="input"><input type="text" name="bd_bg_color" value="<?php echo htmlspecialchars($setting->getBody_BdBgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in body.<br/>Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Body Text 1 Color</div>
									<div class="input"><input type="text" name="bd_text_color" value="<?php echo htmlspecialchars($setting->getBody_BdTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in normal text.<br/>Default: #969696</div>
								</div>                                
                                <div class="row">
									<div class="label">Body Text 4 Color</div>
									<div class="input"><input type="text" name="bd_text4_color" value="<?php echo htmlspecialchars($setting->getBody_BdText4Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in block title, checkout title<br/>Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Body Line 2 Color</div>
									<div class="input"><input type="text" name="bd_line2_color" value="<?php echo htmlspecialchars($setting->getBody_BdLine2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default line color used in border home banner, table<br/>Default: #323232</div>
								</div>                          
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Body Background 2 Color</div>
									<div class="input"><input type="text" name="bd_bg2_color" value="<?php echo htmlspecialchars($setting->getBody_BdBg2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in block title, pages title<br/>Default: #0a0a0a</div>
								</div>
                                <div class="row">
									<div class="label">Body Text 2 Color</div>
									<div class="input"><input type="text" name="bd_text2_color" value="<?php echo htmlspecialchars($setting->getBody_BdText2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in pages title, required text<br/>Default: #c30005</div>
								</div>
                                <div class="row">
									<div class="label">Body Text 5 Color</div>
									<div class="input"><input type="text" name="bd_text5_color" value="<?php echo htmlspecialchars($setting->getBody_BdText5Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in my account page, success message <br/>Default: #00387fs</div>
								</div>                          
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Body Background 3 Color</div>
									<div class="input"><input type="text" name="bd_bg3_color" value="<?php echo htmlspecialchars($setting->getBody_BdBg3Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in checkout title<br/>Default: #dcdcdc</div>
								</div>
                                <div class="row">
									<div class="label">Body Text 3 Color</div>
									<div class="input"><input type="text" name="bd_text3_color" value="<?php echo htmlspecialchars($setting->getBody_BdText3Color()) ?>" class="color-picker" /></div>
									<div class="desc"><br/>Default text color used in sidebar, product price<br/>Default: #141414</div>
								</div>
                                <div class="row">
									<div class="label">Body Line 1 Color</div>
									<div class="input"><input type="text" name="bd_line_color" value="<?php echo htmlspecialchars($setting->getBody_BdLineColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default line color used in border block, border widget home page<br/>Default: #c8c8c8</div>
								</div>                         
                            </div>
                            
                            <div class="col">
								<div class="row">
									<div class="label">Body Background Pattern</div>
									<div class="input">
										<input type="hidden" name="bd_bg_image" value="<?php echo htmlspecialchars($setting->getBody_BdBgImage()) ?>"  />
										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galasneaker/images/stripes/'; ?>
										<?php foreach (Mage::getModel('sneakersettings/config_stripes')->toOptionArray() as $row):?>
										<a href="#" class="bd_bg_image" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getBody_BdBgImage() == $row['value'] ? 'selected="selected"' : '' ?>>
											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
										</a>
										<?php endforeach ?>
									</div>
									<div class="desc">Specify background pattern image.</div>
								</div>
                                <div class="row">
									<div class="label">Body Background Position</div>
									<div class="input"><input type="text" name="bd_bg_position" value="<?php echo htmlspecialchars($setting->getBody_BdBgPosition()) ?>" class="input-text"/></div>
									<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br />Default: 0 0</div>
								</div>
                                <div class="row">
									<div class="label">Body Background Repeat</div>
									<div class="input"><input type="text" name="bd_bg_repeat" value="<?php echo htmlspecialchars($setting->getBody_BdBgRepeat()) ?>" class="input-text"/></div>
									<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br />Default: repeat</div>
								</div>
								<div class="row">
									<div class="label">Box Shadow</div>
									<div class="input"><input type="text" name="bd_box_shadow" value="<?php echo htmlspecialchars($setting->getBody_BdBoxShadow()) ?>" class="input-text"/></div>
									<div class="desc">Default box shadow used in dropdown menu, dropdown cart...<br/>Default: 0 1px 7px #CFCFCF</div>
								</div>
                                <input type="hidden" name="additional_css_file" value="<?php echo htmlspecialchars($setting->getTypography_AdditionalCssFile()) ?>" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Footer -->
			<div class="demo demo-01">
				<div class="content-title"><span>Footer</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Footer Background Color</div>
									<div class="input"><input type="text" name="foot_bg_color" value="<?php echo htmlspecialchars($setting->getFooter_FootBgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in footer top.<br/>Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Footer Text 2 Color</div>
									<div class="input"><input type="text" name="foot_text2_color" value="<?php echo htmlspecialchars($setting->getFooter_FootText2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in block title.<br/>Default: #141414</div>
								</div>
                                <div class="row">
									<div class="label">Footer Line Color</div>
									<div class="input"><input type="text" name="foot_line_color" value="<?php echo htmlspecialchars($setting->getFooter_FootLineColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #c8c8c8</div>
								</div>                                                                                             
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Footer Background 2 Color</div>
									<div class="input"><input type="text" name="foot_bg2_color" value="<?php echo htmlspecialchars($setting->getFooter_FootBg2Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default background color used in footer bottom.<br/>Default: #0a0a0a</div>
								</div>
                                <div class="row">
									<div class="label">Footer Text 3 Color</div>
									<div class="input"><input type="text" name="foot_text3_color" value="<?php echo htmlspecialchars($setting->getFooter_FootText3Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used when hover links in footer top.<br/>Default: #303030</div>
								</div>
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">Footer Text 1 Color</div>
									<div class="input"><input type="text" name="foot_text_color" value="<?php echo htmlspecialchars($setting->getFooter_FootTextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in normal text footer bottom.<br/>Default: #fff</div>
								</div>
                                <div class="row">
									<div class="label">Footer Text 4 Color</div>
									<div class="input"><input type="text" name="foot_text4_color" value="<?php echo htmlspecialchars($setting->getFooter_FootText4Color()) ?>" class="color-picker" /></div>
									<div class="desc">Default text color used in normal text footer bottom.<br/>Default: #646464</div>
								</div>                                                         
                            </div>
                            <div class="col">
								<div class="row">
									<div class="label">Footer Background Pattern</div>
									<div class="input">
										<input type="hidden" name="foot_bg_image" value="<?php echo htmlspecialchars($setting->getFooter_FootBgImage()) ?>"  />
										<?php $imgDir = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_SKIN).'frontend/default/galasneaker/images/stripes/'; ?>
										<?php foreach (Mage::getModel('sneakersettings/config_stripes')->toOptionArray() as $row):?>
										<a href="#" class="foot_bg_image" data-input-value="<?php echo htmlspecialchars($row['value']) ?>" <?php echo $setting->getFooter_FootBgImage() == $row['value'] ? 'selected="selected"' : '' ?>>
											<img src="<?php echo $imgDir . 'blank.gif' ?>" style="background-image:url(<?php echo $imgDir . $row['value'] ?>)" alt="" />
										</a>
										<?php endforeach ?>
									</div>
									<div class="desc">Specify background pattern image.</div>
								</div>
                                <div class="row">
									<div class="label">Footer Background Position</div>
									<div class="input"><input type="text" name="foot_bg_position" value="<?php echo htmlspecialchars($setting->getFooter_FootBgPosition()) ?>" class="input-text"/></div>
									<div class="desc">Property Values: left top, left center, left bottom,right top, right center, right bottom,center top,center center,center bottom,x% y%, xpos ypos, inherit<br />Default: 0 0</div>
								</div>
                                <div class="row">
									<div class="label">Footer Background Repeat</div>
									<div class="input"><input type="text" name="foot_bg_repeat" value="<?php echo htmlspecialchars($setting->getFooter_FootBgRepeat()) ?>" class="input-text"/></div>
									<div class="desc">Property Values: repeat, repeat-x, repeat-y, no-repeat, inherit<br />Default: repeat</div>
								</div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
			
			
			<!-- 1st Buttons -->
			<div class="demo demo-01">
				<div class="content-title"><span>1st Button (Add to cart button)</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">1st Button Background Color</div>
									<div class="input"><input type="text" name="btn1_bg_color" value="<?php echo htmlspecialchars($setting->getButton_Btn1BgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #dcdcdc</div>
								</div>
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">1st Button Text Color</div>
									<div class="input"><input type="text" name="btn1_text_color" value="<?php echo htmlspecialchars($setting->getButton_Btn1TextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #fff</div>
								</div>
                            </div>
                                                        
                            <div class="col">
								<div class="row">
									<div class="label">1st Button Font</div>
									<div class="input"><input type="text" name="btn1_font" value="<?php echo htmlspecialchars($setting->getButton_Btn1Font()) ?>" class="input-text" /></div>
									<div class="desc">Default:600 14px/1.35 Advent Pro,Helvetica,sans-serif</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
            <!-- 2nd Buttons -->
			<div class="demo demo-01">
				<div class="content-title"><span>2nd Button (Default button/Add to cart button when hover)</span></div>
				<div class="wrapper-content general-setting">
					<div class="box last">
						<div class="content">
                            <div class="col col-1">
                                <div class="row">
									<div class="label">2nd Button Background Color</div>
									<div class="input"><input type="text" name="btn2_bg_color" value="<?php echo htmlspecialchars($setting->getButton_Btn2BgColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #c30005</div>
								</div>
                            </div>
                            
                            <div class="col col-1">
                                <div class="row">
									<div class="label">2nd Button Text Color</div>
									<div class="input"><input type="text" name="btn2_text_color" value="<?php echo htmlspecialchars($setting->getButton_Btn2TextColor()) ?>" class="color-picker" /></div>
									<div class="desc">Default: #fff</div>
								</div>
                            </div>
                            
                            <div class="col">
								<div class="row">
									<div class="label">2nd Button Font</div>
									<div class="input"><input type="text" name="btn2_font" value="<?php echo htmlspecialchars($setting->getButton_Btn2Font()) ?>" class="input-text" /></div>
									<div class="desc">Default: 600 14px/1.35 Advent Pro,Helvetica,sans-serif</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			
			<!-- 3rd Buttons -->
            <div class="demo demo-01">
                <div class="content-title"><span>3rd Button (Quickshop button when hover)</span></div>
                    <div class="wrapper-content general-setting">
                        <div class="box last">
                            <div class="content">
                                <div class="col col-1">
                                    <div class="row">
                    					<div class="label">3rd Button Background Color</div>
                    					<div class="input"><input type="text" name="btn3_bg_color" value="<?php echo htmlspecialchars($setting->getButton_Btn3BgColor()) ?>" class="color-picker" /></div>
                    					<div class="desc">Default: #0a0a0a</div>
                    				</div>
                                </div>
                                
                                <div class="col col-1">
                                    <div class="row">
                    					<div class="label">3rd Button Text Color</div>
                    					<div class="input"><input type="text" name="btn3_text_color" value="<?php echo htmlspecialchars($setting->getButton_Btn3TextColor()) ?>" class="color-picker" /></div>
                    					<div class="desc">Default: #fff</div>
                    				</div>
                                </div>
                                
                                <div class="col">
                    				<div class="row">
                    					<div class="label">3rd Button Font</div>
                    					<div class="input"><input type="text" name="btn3_font" value="<?php echo htmlspecialchars($setting->getButton_Btn3Font()) ?>" class="input-text" /></div>
                    					<div class="desc">Default: 600 14px/1.35 Advent Pro,Helvetica,sans-serif</div>
                    				</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end 3rd button-->
                <div class="demo demo-01">
                <div class="content-title"><span>4th Button (Button on shopping cart page)</span></div>
                    <div class="wrapper-content general-setting">
                        <div class="box last">
                            <div class="content">
                                <div class="col col-1">
                                    <div class="row">
                    					<div class="label">4th Button Background Color</div>
                    					<div class="input"><input type="text" name="btn4_bg_color" value="<?php echo htmlspecialchars($setting->getButton_Btn4BgColor()) ?>" class="color-picker" /></div>
                    					<div class="desc">Default: #00387f</div>
                    				</div>
                                </div>
                                
                                <div class="col col-1">
                                    <div class="row">
                    					<div class="label">4th Button Text Color</div>
                    					<div class="input"><input type="text" name="btn4_text_color" value="<?php echo htmlspecialchars($setting->getButton_Btn4TextColor()) ?>" class="color-picker" /></div>
                    					<div class="desc">Default: #fff</div>
                    				</div>
                                </div>
                                
                                <div class="col">
                    				<div class="row">
                    					<div class="label">4th Button Font</div>
                    					<div class="input"><input type="text" name="btn4_font" value="<?php echo htmlspecialchars($setting->getButton_Btn4Font()) ?>" class="input-text" /></div>
                    					<div class="desc">Default: 600 18px/1.35 Advent Pro,Helvetica,sans-serif</div>
                    				</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
			<a href="#" class="btn-reset">Reset</a>
			<a href="#" class="btn-apply">Apply Changes</a>
		</div>
		<div class="copyright">Theme designed by <a href="http://galathemes.com/" title="Premium Magento Themes &amp; Premium Magento Templates" target="_blank">Galathemes.com</a></div>
		</form>
	</div>
</div>
<script type="text/javascript">
//<![CDATA[
jQuery(function($) {
	var panel = $('#demotool_variation').css({'left':'-100%', 'position':'absolute'});
	
	$('a.btn-toggle').click(function () {
		if (!panel.hasClass('show')) {
			$('.variation-cp').show();
			panel.css('top', Math.max($(document).scrollTop(), Math.min($(this).offset().top, $(document).scrollTop() + $(window).height() - panel.outerHeight())) + 'px')
				.addClass('show')
				.animate({'left':$(this).width() + 1 + 'px'});
		} else {
			panel.removeClass('show')
				.animate({'left':-$(this).width() - panel.outerWidth() - 10 + 'px'}, 
				500, function () {
					$('.variation-cp').hide();
				});
			
		}
		return false;
	});

	// toogle section content-title
	$('#demotool_variation .content-title').click(function() {
		$(this).next('.wrapper-content').slideToggle('fast');
	}).trigger('click').first().trigger('click');
	

	// toggle box content
	$('#demotool_variation .box .title').click(function () {
		var box = $(this).parent();

		if (box.children('.content').is(':visible')) {
			box.children('.content').slideUp('fast');
			box.addClass('close');
		} else {
			box.children('.content').slideDown('fast');
			box.removeClass('close');
		}
			
	});
	
    function colorToHex(color) {
        if (color.substr(0, 1) === '#') {
            return color;
        }
        var digits = /(.*?)rgb\((\d+), (\d+), (\d+)\)/.exec(color);
        
        var red = parseInt(digits[2]);
        var green = parseInt(digits[3]);
        var blue = parseInt(digits[4]);
        
        var rgb = blue | (green << 8) | (red << 16);
        return digits[1] + '#' + rgb.toString(16);
    };

	
	var oldCss = $('#emcssvariation').attr('href');
	
	$('#demotool_variation .btn-apply').click(function() {
		$('#emcssvariation').attr('href', $('#emvariationform').attr('action') + '?' + $('#emvariationform').serialize());
        
        // box/wide mode
        var mode = $('#em_box_wide').val();
        if(mode == 'box'){
            $('#emoption_wideslideshow').hide();
			$('#page_boxconfig').show();
            $('.wrapper').addClass('em-box-custom');
            $('.container_slideshow').removeClass('em-wide-custom');
        }else{
            $('.wrapper').removeClass('em-box-custom');
            $('#emoption_wideslideshow').show();
			$('#page_boxconfig').hide();
            if ($('#wide_full').is(':checked')){
                $('.container_slideshow').addClass('em-wide-custom');
            }else{
                $('.container_slideshow').removeClass('em-wide-custom');
            }            
        }
		return false;
	});
    
	$('#demotool_variation .btn-reset').click(function() {
		$('#emcssvariation').attr('href', oldCss);
		$('#demotool_variation input[type=text], #demotool_variation select, #demotool_variation input[type=hidden]').val('').css('background-color', '');
        
        //box wide
        $('#em_box_wide').val(boxwide_selected);
        var mode = $('#em_box_wide').val();
        if(mode == 'box'){
            $('#emoption_wideslideshow').hide();
			$('#page_boxconfig').show();
            $('.wrapper').addClass('em-box-custom');
            $('.container_slideshow').removeClass('em-wide-custom');
        }else{
            $('.wrapper').removeClass('em-box-custom');
            $('#emoption_wideslideshow').show();
			$('#page_boxconfig').hide();
            if ($('#wide_full').is(':checked')){
                $('.container_slideshow').addClass('em-wide-custom');
            }else{
                $('.container_slideshow').removeClass('em-wide-custom');
            }            
        }
				
		// slideshow
		if(fullSlideshow){
            $('#wide_full').prop('checked', true); // Uncheck the checkbox
        }else{
            $('#wide_full').prop('checked', false);
        }        
        if ($('#wide_full').is(':checked')){
			$('.container_slideshow').addClass('em-wide-custom');
		}else{
			$('.container_slideshow').removeClass('em-wide-custom');
		}
                
		return false;
	});


	// load google fonts
	var fontLoaded = {};
	$('#em_variation_google_font').after('<p id="em_variation_google_font_preview" style="font-size:20px;padding:10px 0"></p>')
		.bind('change', function() {
			var font = $(this).val();
			if (font.length > 0) {
				font = font[font.length-1];
				if (typeof fontLoaded[font] == 'undefined') {
					$('head').append('<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family='+encodeURIComponent(font)+':400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese,latin-ext"></link>');
					$('#em_variation_google_font_preview').html(font)
						.css('font-family', font);
				}
			}
		});
		
	// stripes pattern
	$('#demotool_variation a.head_bg_image').click(function() {
		$('#demotool_variation a.head_bg_image').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=head_bg_image]').val('url(../images/stripes/' + $(this).data('input-value') + ')');
		return false;
	});
    
    // stripes pattern
	$('#demotool_variation a.bd_bg_image').click(function() {
		$('#demotool_variation a.bd_bg_image').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=bd_bg_image]').val('url(../images/stripes/' + $(this).data('input-value') + ')');
		return false;
	});
    
    // stripes pattern
	$('#demotool_variation a.foot_bg_image').click(function() {
		$('#demotool_variation a.foot_bg_image').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=foot_bg_image]').val('url(../images/stripes/' + $(this).data('input-value') + ')');
		return false;
	});
    
    // stripes pattern
	$('#demotool_variation a.page_bg_image').click(function() {
		$('#demotool_variation a.page_bg_image').removeClass('selected');
		$(this).addClass('selected');
		$('#demotool_variation input[name=page_bg_image]').val('url(../images/stripes/' + $(this).data('input-value') + ')');
		return false;
	});
    
    $('#em_box_wide').change(function(){
        var modevalue = $('#em_box_wide').val();
        if(modevalue == 'box'){
            $('#emoption_wideslideshow').hide();
			$('#page_boxconfig').show();
        }else{
            $('#emoption_wideslideshow').show();  
			$('#page_boxconfig').hide();			
        }
    });
    
    $(document).ready(function(){
        $('.color-picker').ColorPicker({
    		onSubmit: function(hsb, hex, rgb, el) {
    			$(el).val('#'+hex);
    			$(el).css('backgroundColor', '#' + hex);
    			$(el).ColorPickerHide();
    		},
    		onChange: function(hsb, hex) {
    			var el = this.data('colorpicker').el;
    			$(el).val('#'+hex);
    			$(el).css('backgroundColor', '#' + hex);
    		},
    		onBeforeShow: function () {
    			$(this).ColorPickerSetColor(this.value);
    		}
    	})
    	.bind('keyup', function(){
    		$(this).ColorPickerSetColor(this.value);            
    	});        
    }); 
    
});
//]]>
</script>