<?php foreach ($this->getSortedChildren() as $i => $name): ?>
	<?php
		if (!($title = $this->getChildData($name, 'frontend_title')))
			if (!($title = $this->getChildData($name, 'block_title')))
				$title = $this->getChildData($name, 'title');
	?>
	<div class="box-collateral <?php echo "box-$name" ?>">
		<?php if ($title): ?>
		<h2><span><?php echo $this->escapeHtml($title); ?></span></h2>
		<?php endif;?>
		<?php echo $this->getChildHtml($name) ?>
	</div>
<?php endforeach ?>
