<?php
	$model	=	Mage::getModel('catalog/category');
	$rootCategoryId = Mage::app()->getStore()->getRootCategoryId();
	$category = $model->load($rootCategoryId);	
	$curId = $this->getRequest()->getParam('cat');
	
	$_helper    = $this->helper('catalog/output');
	
	$cates	=	Mage::helper('sneakersettings')->getCategoriesCustom($category,$curId);
    $limit = $cates->count();
	
    $w = 300;
    $h = 300;
    
    $setting = Mage::helper('sneakersettings');
    $pageLayout = substr((str_replace(array('page/','.phtml'),'',Mage::app()->getLayout()->getBlock('root')->getTemplate())),0,1);   
    $isTablet = $setting->checkTabletPhp();
    if($isTablet == 'true'){
        $maxItem = 3;
    }else{
        $maxItem = 4;
    }
    switch ($pageLayout){
    	case 2: if($isTablet == 'true'){
                    $maxItem = 2;
                }else{
                    $maxItem = 3;
                }
    			break;
    	case 3:	$maxItem = 2;
    			break;
    }
    $isMobile = $setting->checkMobilePhp();
    if($isMobile == 'true'){$maxItem=2;}
?>

<div class="featured_category_content">
    <ul class="products-grid">
    	<?php $i=1; foreach($cates as $_cate): ?>
    	<?php $_cate	=	Mage::getModel('catalog/category')->load($_cate->getId()); ?>
        <?php if($_cate->getIsActive() == 1): ?>
    	<li class="item" >
            <div class="item_slider_category">
        		<h2 class="featured_category_name">
        			<a href="<?php echo $_cate->getUrl() ?>"
        			title="<?php echo $_helper->categoryAttribute($_cate, $_cate->getName(), 'name') ?>">
                    <?php echo $_helper->categoryAttribute($_cate, $_cate->getName(), 'name') ?></a>
                </h2>        			
        		<?php if(Mage::getModel('catalog/category')->load($_cate->getId())->getThumbnail() != "") : ?>
        			<a class="category_img" href="<?php echo $_cate->getUrl() ?>"
        				title="<?php echo $_helper->categoryAttribute($_cate, $_cate->getName(), 'name') ?>">
        				<img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'catalog/category/'.Mage::getModel('catalog/category')->load($_cate->getId())->getThumbnail(); ?>"	alt="<?php echo $_helper->categoryAttribute($_cate, $_cate->getName(), 'name') ?>" width="100%" />
        			</a> 
        		<?php endif ?>
        	</div>
    	</li>
        <?php endif;?>        
    	<?php $i++; ?>
        <?php if ($i > 3) break; ?>
        <?php endforeach ?>
    </ul>
</div>
