#bg_fade {background-color:#000;left:0px;margin:0px;padding:0px;position:fixed;top:0px;visibility:hidden;width:100%;z-index:998;height:1000px}
#containerDiv {min-width: 350px;max-width:500px;z-index: 999;display:none;position:fixed;}
#containerDiv .ajaxcart {position: relative;padding: 20px;text-align: center;border: 10px solid #EAE9E6;background-color: white;z-index: 99999; max-height:600px}
#containerDiv .ajaxcart .row2 {clear:left; padding-bottom:0px; overflow:hidden}
#containerDiv .ajaxcart #ajax_image img {float:left;margin-right:7px;}
#containerDiv .ajaxcart #ajax_image  { margin-bottom: 10px;overflow: hidden;text-align: left;}
#containerDiv .ajaxcart #ajax_image span {text-align:left;}
#containerDiv .ajaxcart .row2 a {display:  inline-block;height: 32px;padding: 0 15px;text-align: center;white-space: nowrap; text-decoration: none; text-transform:uppercase;}
#containerDiv .ajaxcart .row2 a:hover{}

#containerDiv .ajaxcart .row2 a span { border: 0 none;padding: 0;}
#containerDiv .ajaxcart .row2 a span.emajc_num {padding: 0;}
.product-essential {position:relative;}
.ajaxcart .product-options{ max-height:200px; overflow-y:auto}
.ajaxcart .product_title{ text-transform:uppercase; text-align:center}
.ajaxcart .product-shop .product-options-bottom .price-box{ float:left}
.ajaxcart .product-shop .product-options-bottom{}
#containerDiv .ajaxcart .row2 .back{float:none; display:inline-block; margin-right:10px}
#containerDiv .ajaxcart .row2 .next{ float:none; display:inline-block}
.ajaxcart .product-shop .product-options-bottom .price-box .price{}
.ajaxcart .product-shop .product-options-bottom .add-to-cart{ clear:both;}
.ajaxcart .product-shop .product-options-bottom .add-to-cart .qty{ margin-top:0px;}
.ajaxcart  .add-to-cart .qty{ margin-top:0px; height:32px; line-height:32px; width:140px!important; text-align:center;margin-right:5px;}
.ajaxcart  .add-to-cart label{ }
.ajaxcart .qty-ctl{ }

/*resize mobile*/
.adapt-0 #containerDiv{ width:300px !important; height:300px!important; max-width: 300px!important;min-width: 1px!important;overflow:auto}
.adapt-0 #containerDiv .product_title h3{font-size:100%}
.adapt-0 #containerDiv .ajaxcart .product-options{overflow:inherit; max-height:none!important;}
.adapt-0 #containerDiv .ajaxcart{max-height:none!important;}