/**
 * EMThemes
 *
 * @license commercial software
 * @copyright (c) 2012 Codespot Software JSC - EMThemes.com. (http://www.emthemes.com)
 */
.sneaker_general_page_bg_image img,.sneaker_header_head_bg_image img, .sneaker_body_bd_bg_image img, .sneaker_footer_foot_bg_image img { width:30px; height:30px; border:2px solid #ffffff }
.sneaker_general_page_bg_image:hover img,
.sneaker_general_page_bg_image.selected img,
.sneaker_header_head_bg_image:hover img,
.sneaker_header_head_bg_image.selected img,
.sneaker_body_bd_bg_image:hover img,
.sneaker_body_bd_bg_image.selected img,
.sneaker_footer_foot_bg_image:hover img,
.sneaker_footer_foot_bg_image.selected img { border:2px solid #000000 }

.color_pattern { display:inline-block; width:10px; height:10px; vertical-align:text-bottom; border:1px solid #333; }
#row_sneaker_menu_tm_label .scope-label, #row_sneaker_menu_dm_label .scope-label, #row_sneaker_button_btn1_label .scope-label, #row_sneaker_button_btn2_label .scope-label, #row_sneaker_button_btn3_label .scope-label, #row_sneaker_button_btn4_label .scope-label{display:none}
#row_sneaker_menu_tm_label, #row_sneaker_menu_dm_label, #row_sneaker_button_btn1_label, #row_sneaker_button_btn2_label, #row_sneaker_button_btn3_label, #row_sneaker_button_btn4_label{font-weight:bold;margin-left: 0!important;margin-bottom:10px; border-bottom: 1px solid #3d3d3d;}
#sneaker_menu tr, #sneaker_button tr {display: inline-block; margin-left:40px;}
label[for=sneaker_menu_tm_label],label[for=sneaker_menu_dm_label], label[for=sneaker_button_btn1_label],label[for=sneaker_button_btn2_label], label[for=sneaker_button_btn3_label],label[for=sneaker_button_btn4_label]{color:red;font-size:15px;}