<?php
$idJs = "embfrvp_".md5(uniqid(rand()));
?>
<div class="embfrvp_wrapper" id="<?php echo $idJs;?>"></div>
<script type="text/javascript">
document.observe('dom:loaded', function(){
  new Ajax.Updater('<?php echo $idJs;?>', '<?php echo $this->getUrl('embfrvp/index/index',array('_secure'=>true))?>', {
		method : 'get',
		asynchronous : true,
		evalScripts : true,
		parameters : <?php echo $this->getAjaxData()?>,
		onComplete : function(){
			<?php if($callBackJs = $this->getData('callback_js')):?><?php echo $callBackJs?>();<?php endif;?>
		}
 });
});
</script>