<?php 
	$_products = $this->getProductCollection(); 
	
	$_helper = $this->helper('catalog/output');
	if(Mage::registry('current_category')){
		  $_products->addUrlRewrite(Mage::registry('current_category')->getId());
	}
		  
	$limitproduct = $this->getLimitCount();	   
	$size = $_products->getSize();
	
	if($limitproduct == "" || $limitproduct > $size){
		$limitproduct = $size;
	}

	$title = $this->getFrontendTitle();
	$desc  = $this->getFrontendDescription();
	$wrapclass = $this->getCustomClass();
	$w = $this->getThumbnailWidth(200);
	$h = $this->getThumbnailHeight(200);	 
	$_columnCount = $this->getColumnCount(); 
	$alt_img = $this->getAltImg();
	$itemclass = $this->getItemClass();
	$marginLeft = $this->ShowThumb() != true ? 0 :
		$this->getItemWidth() ? $this->getItemWidth() + 10 : 
		$w ? $w + 10 : null;
		
?>

<div <?php if($wrapclass): ?>class="<?php echo $wrapclass;?>"<?php endif; ?>>
	<?php if($title): ?>	  
		<div class="widget-title">
			<h2><span><?php echo $title; ?></span></h2>
		</div>
	<?php endif; ?>
	
	<?php if($desc):?>
		<div class="desc"><?php echo $desc; ?></div>
	<?php endif ?>
		
	<?php if ($limitproduct): ?>
		<div class="widget em-widget-products-list" id="<?php echo $this->getIdJsWidget();?>"> 
			<div class="widget-products">
				<?php $i=0; foreach ($_products->getItems() as $_product): ?>
					<?php if ($_columnCount > 0 && $i%$_columnCount==0 || $_columnCount <= 0 && $i == 0): ?>
					<ul class="products-list">
					<?php endif ?>
						<li class="box <?php echo $itemclass; ?> item<?php echo $_columnCount > 0 && $i%$_columnCount==0 || $_columnCount <= 0 && $i == 0 ?' first':''; ?><?php echo $_columnCount > 0 && ($i+1)%$_columnCount==0 || $i+1 == $limitproduct ?' last':''; ?>"
							style="<?php echo $this->getItemHeight() ? 'height:'.$this->getItemHeight().'px;' : '' ?> <?php echo $this->getItemWidth() ? 'width:'.$this->getItemWidth().'px;' : '' ?> <?php echo $this->getItemSpacing() ? 'margin-right:'.$this->getItemSpacing().'px;margin-bottom:'.$this->getItemSpacing().'px;' : '' ?>">
							<?php if ($this->ShowThumb()==true): ?>
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image">
								<?php if ($this->ShowLabel()==true):?>
								<!--show label product - label extension is required-->
								<?php Mage::helper('productlabels')->display($_product);?>
								<?php endif;?>
								<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($w,$h) ?>" width="<?php echo $w; ?>" height="<?php echo $h ;?>" <?php if ($alt_img): ?> 
					            rel="<?php echo $alt_img ?>" 
					            data-alt-src="<?php echo $this->helper('catalog/image')->init($_product, $alt_img)->resize($w,$h) ?>"
					            <?php endif ?>  alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
							<?php endif; ?>
						
							<div class="product-shop" 
								<?php if ($marginLeft !== null): ?>
								style="margin-left:<?php echo $marginLeft ?>px"
								<?php endif ?>
							>
								<div class="f-fix">
									<!--product name-->
									<?php if ($this->ShowProductName()):?>
										<h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>
									<?php endif;?>
								
									<!--product description-->
									<?php if ($this->ShowDesc()):
										$desc = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');
										if(strlen($desc)>80) { //dem ki tu chuoi $str, 80 la chieu dai muon quy dinh
											$strCutTitle = substr($desc, 0, 80); //cat 80 ki tu dau
											$desc = substr($strCutTitle, 0, strrpos($strCutTitle, ' '));
										}		
									?>
										<p class="desc"><?php echo $desc; ?></p>
									<?php endif ;?>
								
									<!--product reviews-->
									<?php if ($this->ShowReview()):?>
										<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
									<?php endif ; ?>
								
									<!--product price-->
									<?php if ($this->ShowPrice()):?>
										<?php echo $this->getPriceHtml($_product, true, '-widget-new-list') ?>
									<?php endif;?>
								
									<div class="actions">
									<!--product add to cart-->
									<?php if ($this->ShowAddtoCart()):?>
										<?php if ($_product->isSaleable()): ?>
											<button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
										<?php else: ?>
											<p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
										<?php endif; ?>
									<?php endif; ?>
									
									<!--product add to compare-wishlist-->
									<?php if($this->ShowAddto()):?>
										<ul class="add-to-links">
											<?php if ($this->helper('wishlist')->isAllow()) : ?>
												<li><a href="<?php echo $this->getAddToWishlistUrl($_product) ?>" class="link-wishlist" title="<?php echo $this->__('Add to Wishlist') ?>"><span class="icon icon-compared">icon</span><span class="text"><?php echo $this->__('Add to Wishlist') ?></span></a></li>
											<?php endif; ?>
											<?php if($_compareUrl=$this->getAddToCompareUrl($_product)): ?>
												<li><span class="separator">|</span><a href="<?php echo $_compareUrl ?>" class="link-compare" title="<?php echo $this->__('Add to Compare') ?>"><span class="icon icon-wishlist">icon</span><span class="text"><?php echo $this->__('Add to Compare') ?></span></a></li>
											<?php endif; ?>
										</ul>
									<?php endif; ?>
								</div>
								
								</div>
							</div>
						</li>
					<?php if (( $_columnCount > 0 && ($i+1)%$_columnCount==0) || $i+1==$this->_pageSize ): ?>
					</ul>
					<?php endif; ?>
					<?php $i++;?>
					<?php if($i >= $limitproduct) break;?>
				<?php endforeach; ?>
			</div>
		</div>
		<p class="load-more-image" <?php if($this->getData('use_click')== 0) echo "style='display:none;'"?>>
		<a class="load-more" id="<?php echo $this->getIdJsWidget();?>-next" href="#"><?php echo $this->__('Load more products...')?></a>
		</p>
		<script type="text/javascript">
			jQuery('#<?php echo $this->getIdJsWidget();?> .widget-products ul.products-list').infinitescroll({
				navSelector  	: "#<?php echo $this->getIdJsWidget();?>-next:last",
				nextSelector 	: "#<?php echo $this->getIdJsWidget();?>-next:last",
				itemSelector 	: "#<?php echo $this->getIdJsWidget();?> .widget-products ul.products-list li.item",
				dataType	 	: 'html',
				loading: {
					img				: "<?php echo $this->getSkinUrl("images/ajax-loader.gif") ?>",
				},
				maxPage         : <?php echo $this->getMaxPage()?>,
				<?php if($this->getData('use_click')):?>
				state			: {
					isPaused : true
				},
				<?php endif;?>
				path: function(index) {
					return '<?php echo $this->getUrl('ajaxproducts/index/index')?>?p=' + index + '&params=<?php echo $this->generateParamsWidget()?>';
				}
			}, function(newElements, data, url){
				<?php if($this->getData('use_click')):?>
		    	jQuery("#<?php echo $this->getIdJsWidget();?>-next:last").show();
				<?php endif;?>
				setTimeout(function(){
				    afterLoadAjax('#<?php echo $this->getIdJsWidget();?>');                    
                },500);
		    });
			<?php if($this->getData('use_click')):?>
			jQuery('#<?php echo $this->getIdJsWidget();?>-next').click(function(){
				jQuery('#<?php echo $this->getIdJsWidget();?> .widget-products ul.products-list').infinitescroll('retrieve');
				return false;
			});
			<?php endif;?>
		</script>
	<?php else:?>
		<p class="note-msg"><?php echo $this->__('There are no products matching the selection.') ?></p>
	<?php endif; ?>
</div>
