.dropdown-cart,.tp-bullets.simplebullets.round .bullet{background-image:url(../images/icons_kids.png)}
.em-topsearch{background-image:url(../images/icons_kids.png)}
.header-container .welcome-msg{background-image:url(../images/icons_kids.png)}

/*price*/
.special-price .price{color:/*BEGIN:bd_text3_color*/#141414/*END:bd_text3_color*/;}
.price {color:/*BEGIN:bd_text2_color*/#c30005/*END:bd_text2_color*/; }

/*menu*/
.wrapper_menu .grid_24.em_area01{background-color:/*BEGIN:tm_bg_color*/#dcdcdc/*END:tm_bg_color*/;}
.wrapper_menu {background-color:/*BEGIN:head_bg_color*/#0a0a0a/*END:head_bg_color*/;}

.wrapper_area02 span{color:/*BEGIN:bd_text5_color*/#00387f /*END:bd_text5_color*/;}

.footer-address,.footer-address a{color:/*BEGIN:foot_text3_color*/#fff/*END:foot_text3_color*/;}

.productlabels_icons .label{background-image:url(../images/productlabel_icons_kids.png)}

.wrapper_header .toolbar-switch .toolbar-dropdown a{color:/*BEGIN:foot_text_color*/#aaaaaa/*END:foot_text_color*/;}
.lan-cur-content,.lan-cur-content a{color:/*BEGIN:foot_text_color*/#aaaaaa/*END:foot_text_color*/;}

.adapt-0 .wrapper_menu .grid_24.em_area01 {background:transparent}