.wrapper_slideshow .container_24 ,
.wrapper_slideshow .grid_24{width:100%; margin:0}

.dropdown-cart{background-image:url(../images/icons_orange.png)}
.em-topsearch{background-image:url(../images/icons_orange.png)}
.header-container .welcome-msg{background-image:url(../images/icons_orange.png)}

.wrapper_area04 .box_banner img:first-child{display:none;}

/*ajax_new_product*/
.ajax_new_product .products-grid li.item{padding:20px 10px;border-color: /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/;margin-right:17px; margin-bottom:20px; min-height:1px}
.ajax_new_product .products-grid li.item:hover{border-color: /*BEGIN:bd_line2_color*/#323232/*END:bd_line2_color*/;}
.ajax_new_product .widget .widget-products{margin-right:-20px;}
.ajax_new_product .em-widget-products-grid{overflow:hidden;padding-bottom: 80px;margin-bottom: -80px;}
.ajax_new_product .add-to-links li{margin-right:0px}
.ajax_new_product .add-to-links li:first-child{margin-right:9px}
.ajax_new_product .add-to-links li a{padding-left:17px;}
.ajax_new_product .add-to-links .link-compare{padding-left:20px;}

.adapt-0 .ajax_new_product .widget .widget-products{margin-right:0px;}

