.dropdown-cart,.tp-bullets.simplebullets.round .bullet{background-image:url(../images/icons_book.png)}
.em-topsearch{background-image:url(../images/icons_book.png)}
.header-container .welcome-msg{background-image:url(../images/icons_book.png)}

/*price*/
.special-price .price{color:/*BEGIN:dm_hover_text_color*/#c30005/*END:dm_hover_text_color*/; }

/*menu*/



.wrapper_area04 .box_banner{border-color:/*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/}

.productlabels_icons .label{background-image:url(../images/productlabel_icons_books.png)}

.wrapper_header .toolbar-switch .toolbar-dropdown a,.em-topsearch .form-search{color:/*BEGIN:foot_text_color*/#aaaaaa/*END:foot_text_color*/;}
.lan-cur-content,.lan-cur-content a{color:/*BEGIN:foot_text_color*/#aaaaaa/*END:foot_text_color*/;}

