.dropdown-cart{background-image:url(../images/icons_furniture.png)}
.em-topsearch{background-image:url(../images/icons_furniture.png)}
.header-container .welcome-msg{background-image:url(../images/icons_furniture.png)}
.tp-bullets.simplebullets.round .bullet{background-image:url(../images/icons_furniture.png)}
.productlabels_icons .label{background-image:url(../images/productlabel_icons_furniture.png)}

/*price*/


/*menu*/
.wrapper_menu .grid_24.em_area01{background-color:/*BEGIN:tm_bg_color*/#dcdcdc/*END:tm_bg_color*/;}
.em-box-custom .wrapper_menu .inner_menu{background-color:/*BEGIN:head_bg_color*/#0a0a0a/*END:head_bg_color*/;}
.adapt-0 .wrapper_menu .grid_24.em_area01{background-color:transparent}
.adapt-0 .em-box-custom .wrapper_menu .inner_menu{background-color:transparent}


.wrapper_area04 .box_banner img:first-child{display:none;}

.em-box-custom .wrapper_main .inner_main{padding-top:25px;}

/*widgets featured*/
.cms-index-index .em_area_main .widget-title h3{font:/*BEGIN:h1_font*/normal 24px/1.15 Arial,Helvetica,sans-serif/*END:h1_font*/;color:/*BEGIN:bd_text3_color*/#141414/*END:bd_text3_color*/; background:none;}
.cms-index-index .em_area_main .widget-title h3 span{position:relative;}
.cms-index-index .em_area_main .widget-title h3 span:before{bottom: -16px;
left: 45%;
border: 5px solid transparent;
border-top-color: /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/;
border-style: solid;
display: block;
width: 0;
content: "";
position: absolute;}
.cms-index-index .em_area_main .widget-title h3 span:after{bottom:-15px;
left: 45%;
border: 5px solid transparent;
border-top-color: /*BEGIN:bd_bg_color*/#fff/*END:bd_bg_color*/;
content: "";
position: absolute;
border-style: solid;
display: block;
width: 0;}


.em_sidebar .em-widget-featured-products-list .products-list .product-image{border:1px solid /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/}
.em_sidebar .em-widget-featured-products-list .widget-products{padding-left:10px; padding-right:10px;}

.cms-index-index .slider_container .products-grid li.item{padding:10px;border:1px solid transparent; margin-right:4px;background-color:/*BEGIN:bd_bg_color*/#fff/*END:bd_bg_color*/}
.cms-index-index .slider_container .products-grid li.item .availability-actions{position:relative}
.cms-index-index .slider_container .products-grid li.item .actions{position:absolute; top:-20px; left:-11px; padding:0 10px; width:100%; border:1px solid /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/; border-top:none;
	-moz-opacity:0; -webkit-opacity:0; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /*IE8*/ opacity:0; filter:alpha(opacity=0); 
	 -moz-transition:top 500ms ease; 
	 -webkit-transition:top 500ms ease; 
	 -o-transition:top 500ms ease; 
	 transition:top 500ms ease; 
	 visibility: hidden;
}
.cms-index-index .slider_container .products-grid li.item:hover .availability-actions {z-index:1;}
.cms-index-index .slider_container .products-grid li.item:hover .actions{top:0px; 
box-shadow:0px 8px 11px 0px #ACABAB;
		-moz-box-shadow:0px 8px 11px 0px #ACABAB;
		-webkit-box-shadow:0px 8px 11px 0px #ACABAB/; padding-bottom:5px; 
	background-color:/*BEGIN:bd_bg_color*/#fff/*END:bd_bg_color*/;
	-moz-opacity:1; 
	-webkit-opacity:1; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /*IE8*/ 
	opacity:1; 
	filter:alpha(opacity=100); 
	visibility: visible;
}

.cms-index-index .slider_container  .csslider .viewport{padding-bottom:100px; margin-bottom:-100px; padding:10px 5px 100px; margin:0 -5px -100px;}
.cms-index-index .slider_container .products-grid li.item:hover{ border-color:/*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/;
-webkit-box-shadow: 0px 0px 10px 0px #ACABAB;
	-moz-box-shadow: 0px 0px 10px 0px #ACABAB;
	box-shadow:0px 0px 10px 0px #ACABAB;;}
.cms-index-index  .em_area_main .widget .widget-products{padding:0 25px}











