.tp-bullets.simplebullets.round .bullet{background-image:url(../images/icons_computer.png)}

.wrapper_area02 span.red{color:/*BEGIN:dm_hover_text_color*/#c30005/*END:dm_hover_text_color*/; }

/*menu*/
.wrapper_menu .grid_24.em_area01{background-color:/*BEGIN:tm_bg_color*/#dcdcdc/*END:tm_bg_color*/;}
.wrapper_menu {background-color:/*BEGIN:head_bg_color*/#0a0a0a/*END:head_bg_color*/;}
.adapt-0 .wrapper_menu .grid_24.em_area01 {background:transparent}



.wrapper_area04 .box_banner{border-color:/*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/}

.productlabels_icons .label{background-image:url(../images/productlabel_icons_computer.png)}

.wrapper_header .toolbar-switch .toolbar-dropdown a{}
.lan-cur-content,.lan-cur-content a{}

.footer-address,.footer-address a{color:/*BEGIN:foot_text3_color*/#fff/*END:foot_text3_color*/;}

/*main*/
.cms-index-index .em_area_main .widget .widget-products.csslider{padding:0 25px;}
.cms-index-index .em_area_main .widget .widget-products.csslider .controls a{top:30%}
.products-grid li.item .big-img > .product-image .productlabels_icons{top:10px; right:10px;}
.products-grid li.item .big-img > .product-image{float:left; margin-right:20px; border:1px solid /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/; -moz-transition: all 300ms ease;
-webkit-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;}
.products-grid li.item .big-img > .product-image:hover{border:1px solid /*BEGIN:bd_line2_color*/#323232/*END:bd_line2_color*/;}
.products-grid li.item .big-img > .product-image img{width:100%; height:auto;}
.products-grid li.item .big-img .block-related{float:left}
.products-grid li.item .big-img .block-related li{padding:0; margin-bottom:18px;}
.products-grid li.item .big-img .block-related li .product{margin-left:0px;border:1px solid /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/;}
.products-grid li.item .big-img .block-related li .product:hover{border:1px solid /*BEGIN:bd_line2_color*/#323232/*END:bd_line2_color*/;}	
.products-grid li.item .big-img .block-related img{ -moz-transition: all 300ms ease;
-webkit-transition: all 300ms ease;
-o-transition: all 300ms ease;
transition: all 300ms ease;}


.three-columns .products-grid li.item .big-img .block-related{width:100%}
.three-columns .products-grid li.item .big-img .block-related li{float:left; margin-left:5%;width:30%}
.three-columns .products-grid li.item .big-img .block-related li:first-child{margin-left:0px}
.three-columns  .products-grid li.item .big-img .block-related li .product{}
.three-columns  .products-grid li.item .big-img .block-related img{width:100%; height:auto;}
.three-columns  .products-grid li.item .big-img > .product-image {margin-right:0}
.cms-index-index .three-columns  .em_area_main .widget .widget-products.csslider .controls a{top:22%}

/*resize*/
.adapt-2 .grid_19 .products-grid li.item .big-img > .product-image{width:500px;}
.adapt-2 .grid_19 .products-grid li.item .big-img .block-related li .product{width:155px}
.adapt-2 .grid_19 .products-grid li.item .big-img .block-related img{width:100%; height:auto;}
.adapt-2.cms-index-index .em_area_main .widget .widget-products.csslider .controls a{top:26%}

.adapt-1 .products-grid li.item .big-img .block-related{width:100%}
.adapt-1 .products-grid li.item .big-img .block-related li{float:left;margin-left:5%;width:30%}
.adapt-1 .products-grid li.item .big-img .block-related li:first-child{margin-left:0px}
.adapt-1 .products-grid li.item .big-img .block-related img{width:100%; height:auto;}
.adapt-1 .products-grid li.item .big-img > .product-image {margin-right:0}
.adapt-1.cms-index-index .em_area_main .widget .widget-products.csslider .controls a{top:22%}

.adapt-0 .products-grid li.item .big-img .block-related{width:100%}
.adapt-0 .products-grid li.item .big-img .block-related li{float:left; margin-left:5%;width:30%}
.adapt-0 .products-grid li.item .big-img .block-related li:first-child{margin-left:0px}
.adapt-0 .products-grid li.item .big-img .block-related li .product{}
.adapt-0 .products-grid li.item .big-img .block-related img{width:100%; height:auto;}
.adapt-0 .products-grid li.item .big-img > .product-image {margin-right:0}
.adapt-0.cms-index-index .em_area_main .widget .widget-products.csslider .controls a{top:15%}
.adapt-0 .wrapper_area04 .box_banner{margin-bottom:20px}


.em_area_main .slider_container .products-grid li.item {margin-right:0}
.em_area_main .slider_container .product-name a{font:/*BEGIN:h2_font*/normal 20px/1.25 Arial,Helvetica,sans-serif/*END:h2_font*/;}
.em_area_main .slider_container .products-grid li.item .price{font-size:225%}
.em_area_main .slider_container .products-grid li.item .price-box .price-label{display:none}
.em_area_main .slider_container .products-grid li.item .add-to-links li{float:none; display:inline-block}
.em_area_main .slider_container .products-grid li.item ul.add-to-links{display:block}
.em_area_main .slider_container .products-grid li.item button.button{width:auto}

/*widgets featured*/
.cms-index-index .em_area_main .widget-title h3{font:/*BEGIN:h1_font*/normal 24px/1.15 Arial,Helvetica,sans-serif/*END:h1_font*/;color:/*BEGIN:bd_text3_color*/#141414/*END:bd_text3_color*/; background:none;}
.cms-index-index .em_area_main .widget-title h3 span{position:relative;}
.cms-index-index .em_area_main .widget-title h3 span:before{bottom: -16px;
left: 45%;
border: 5px solid transparent;
border-top-color: /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/;
border-style: solid;
display: block;
width: 0;
content: "";
position: absolute;}
.cms-index-index .em_area_main .widget-title h3 span:after{bottom:-15px;
left: 45%;
border: 5px solid transparent;
border-top-color: /*BEGIN:bd_bg_color*/#fff/*END:bd_bg_color*/;
content: "";
position: absolute;
border-style: solid;
display: block;
width: 0;}
.em_sidebar .em-widget-featured-products-list .widget-products{padding-left:10px; padding-right:10px;}