/* font */;
font:/*BEGIN:general_font*/normal 12px/1.35 Arial,Helvetica,sans-serif/*END:general_font*/;
font:/*BEGIN:h1_font*/normal 24px/1.15 Arial,Helvetica,sans-serif/*END:h1_font*/;
font:/*BEGIN:h2_font*/normal 20px/1.25 Arial,Helvetica,sans-serif/*END:h2_font*/;
font:/*BEGIN:h3_font*/normal 18px/1.25 Arial,Helvetica,sans-serif/*END:h3_font*/;
font:/*BEGIN:h4_font*/normal 16px/1.35 Arial,Helvetica,sans-serif/*END:h4_font*/;
font:/*BEGIN:h5_font*/normal 14px/1.35 Arial,Helvetica,sans-serif/*END:h5_font*/;
font:/*BEGIN:h6_font*/normal 12px/1.35 Arial,Helvetica,sans-serif/*END:h6_font*/;

/* header */	
color:/*BEGIN:head_text_color*/#c8c8c8/*END:head_text_color*/; 
background-color:/*BEGIN:head_bg_color*/#0a0a0a/*END:head_bg_color*/;r
background-image:/*BEGIN:head_bg_image*/none/*END:head_bg_image*/;r
background-position:/*BEGIN:head_bg_position*/0 0/*END:head_bg_position*/;r
background-repeat:/*BEGIN:head_bg_repeat*/repeat/*END:head_bg_repeat*/;r
 
/* menu */
/* top menu*/r
color:/*BEGIN:tm_text_color*/#0a0a0a/*END:tm_text_color*/;
font:/*BEGIN:tm_font*/normal 14px/1.35 Arial,Helvetica,sans-serif/*END:tm_font*/;
background-color:/*BEGIN:tm_bg_color*/#dcdcdc/*END:tm_bg_color*/;
    
/* dropdown menu */r
background-color:/*BEGIN:dm_bg_color*/#fff/*END:dm_bg_color*/;
color:/*BEGIN:dm_text_color*/#aaaaaa/*END:dm_text_color*/;-->text links dropdown;
color:/*BEGIN:dm_text2_color*/#141414/*END:dm_text2_color*/;-->title dropdown menu;
color:/*BEGIN:dm_hover_text_color*/#c30005/*END:dm_hover_text_color*/; hover text menu,title menu
font:/*BEGIN:dm_font*/normal 12px/1.35 Arial,Helvetica,sans-serif/*END:dm_font*/;
	
/* body */
background-color:/*BEGIN:bd_bg_color*/#fff/*END:bd_bg_color*/;r
background-color:/*BEGIN:bd_bg2_color*/#0a0a0a/*END:bd_bg2_color*/;--> title block, title page...
background-color:/*BEGIN:bd_bg3_color*/#dcdcdc/*END:bd_bg3_color*/;--> title checkout;
background-image: /*BEGIN:bd_bg_image*/none/*END:bd_bg_image*/;
background-position:/*BEGIN:bd_bg_position*/0 0/*END:bd_bg_position*/;
background-repeat:/*BEGIN:bd_bg_repeat*/repeat/*END:bd_bg_repeat*/;
    
color:/*BEGIN:bd_text_color*/#969696/*END:bd_text_color*/; <body text>; r
color:/*BEGIN:bd_text2_color*/#c30005/*END:bd_text2_color*/; page title,require... r
color:/*BEGIN:bd_text3_color*/#141414/*END:bd_text3_color*/; sidebar, price...; r
color:/*BEGIN:bd_text4_color*/#fff /*END:bd_text4_color*/; title block; title checkout... r
color:/*BEGIN:bd_text5_color*/#00387f /*END:bd_text5_color*/; my account page, success-msg...; r
	
border: 1px solid /*BEGIN:bd_line_color*/#c8c8c8/*END:bd_line_color*/; border block,border title widgets home...r
border: 1px solid /*BEGIN:bd_line2_color*/#323232/*END:bd_line2_color*/;--> border banner home; table r


box-shadow: /*BEGIN:bd_box_shadow*/0 1px 7px #CFCFCF/*END:bd_box_shadow*/;
-moz-box-shadow: /*BEGIN:bd_box_shadow*/0 1px 7px #CFCFCF/*END:bd_box_shadow*/;
-webkit-box-shadow: /*BEGIN:bd_box_shadow*/0 1px 7px #CFCFCF/*END:bd_box_shadow*/;

            
/* footer */
background-color:/*BEGIN:foot_bg_color*/#fff/*END:foot_bg_color*/; footer top
background-color:/*BEGIN:foot_bg2_color*/#0a0a0a/*END:foot_bg2_color*/; footer bottom
background-image: /*BEGIN:foot_bg_image*/none/*END:foot_bg_image*/;
background-position:/*BEGIN:foot_bg_position*/0 0/*END:foot_bg_position*/;
background-repeat:/*BEGIN:foot_bg_repeat*/repeat/*END:foot_bg_repeat*/;
color:/*BEGIN:foot_text_color*/#aaaaaa/*END:foot_text_color*/; default
color:/*BEGIN:foot_text2_color*/#141414/*END:foot_text2_color*/; --> title block footer;
color:/*BEGIN:foot_text3_color*/#fff/*END:foot_text3_color*/; --> bottom footer text;
color:/*BEGIN:foot_text4_color*/#646464/*END:foot_text4_color*/; --> bottom footer text;
border: 1px solid /*BEGIN:foot_line_color*/#c8c8c8/*END:foot_line_color*/;


/* button add to cart*/	
background-color:/*BEGIN:btn1_bg_color*/#dcdcdc/*END:btn1_bg_color*/;
color:/*BEGIN:btn1_text_color*/#fff/*END:btn1_text_color*/;
font:/*BEGIN:btn1_font*/600 14px/1.35 Advent Pro,Helvetica,sans-serif/*END:btn1_font*/;	
	
/* btn default,add to cart hover*/
background-color:/*BEGIN:btn2_bg_color*/#c30005/*END:btn2_bg_color*/;
color:/*BEGIN:btn2_text_color*/#fff/*END:btn2_text_color*/;
font:/*BEGIN:btn2_font*/600 14px/1.35 Advent Pro,Helvetica,sans-serif/*END:btn2_font*/;

/* quickshop hover, btn back*/
background-color:/*BEGIN:btn3_bg_color*/#0a0a0a/*END:btn3_bg_color*/;
color:/*BEGIN:btn3_text_color*/#fff/*END:btn3_text_color*/;
font:/*BEGIN:btn3_font*/600 14px/1.35 Advent Pro,Helvetica,sans-serif/*END:btn3_font*/;

/* button shopping cart page*/
background-color:/*BEGIN:btn4_bg_color*/#00387f/*END:btn4_bg_color*/;
color:/*BEGIN:btn4_text_color*/#fff/*END:btn4_text_color*/;
font:/*BEGIN:btn4_font*/600 18px/1.35 Advent Pro,Helvetica,sans-serif/*END:btn4_font*/;

/* wrapper */
background-color:/*BEGIN:page_bg_color*/#fff/*END:page_bg_color*/;
background-image: /*BEGIN:page_bg_image*/url(../images/stripes/blank.gif)/*END:page_bg_image*/;
background-position: /*BEGIN:page_bg_position*/0 0/*END:page_bg_position*/;
background-repeat: /*BEGIN:page_bg_repeat*/repeat/*END:page_bg_repeat*/;

/*+++++++ Size Image +++++++++*/
product-image:380*380
view more image:75*75
upsell:185
crossell:204
product-list:210*210
/*+++++++ Size li +++++++++*/
- sidebar chia thanh grid_5 giong design (Xong)
- block em_area02 chỉ có ở trang home (Xong)
- subscribe của newletter sửa thành GO (Xong)
- title tab khi xuất hiện nút next prev cho .ui-slider-tabs-list width !important trong và .ui-slider-tabs-list-container overflow:hidden trong inline
(xong)
- trang detail:
     + add to links cho nam cung the div voi button add to cart va cho nam chung div .add-to-cart hoac .add-to-box (Xong)
     + phan top .product-shop co lam giong design hay de mac dinh (để mặc định)
     + doi ten lai title YOU MAY ALSO BE INTERESTED IN THE FOLLOWING PRODUCT(S) thanh YOU MIGHT ALSO LIKE (Xong)
crossell: + bo rating-links trong ratings duoc k e? neu k bo duoc thi bo ratings lun (Xong)


Quickshop:
+ Button Quickshop bi lech. (Xong)


resize slider tab trang home, chuyen qua tab khac bi loi (fix)
navigation loi thanh price khi resize
kiem tra lai k add compare trang category duoc 
doi sang cac store khac currency loi image
+check lai qs trong code bat toi 2 the overflow:scroll
+ add to links cho nam cung the div voi button add to cart va cho nam chung div .add-to-cart hoac .add-to-box (Xong)
=>e nham y c roi, nam chung the div voi button add to cart chu k fai the div co class .add-to-cart, e cho the div boc add to link voi button add to cart nha, check cac truong hop sp lun nha e
(Xong)
/*++++++++++++++++*/


Noto Sans, Open Sans, Istok Web, Arimo, Roboto, Quicksands, Questrial, PT Sans, Josefin Sans, Muli, Didact Gothic

/**/
bo ba bien Top Menu Hover Text Color
- Dropdown Menu Line Color
- Rounded Corner
/* Xong */

trong Choose Your Layout Style neu de tick Full Slideshow thi them class nhac c css lai, neu k de Full Slideshow thi e bo fan do di nha
/* Xong -- them bien em-wide-custom */
